<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Yohanes_Vendor::vendor_list" title="Vendors" translate="title" module="Yohanes_Vendor" sortOrder="20" parent="Magento_Catalog::inventory" action="vendor/vendor/" resource="Yohanes_Vendor::vendor_list"/>
    </menu>
</config>
